 html {
        scroll-behavior: smooth;
    }

.navbar-brand {
    font-size: 45px !important;
}

@media (min-width: 576px){
    .navbar-brand {
    font-size: 45px !important;
    }
}

@media (min-width: 768px) { 
   .navbar-brand {
    font-size: 50px !important;
    }
}

@media (min-width: 992px) { 
    .navbar-brand {
    font-size: 60px !important;
    }
}


@media (min-width: 1200px) {
    .navbar-brand {
    font-size: 70px !important;
    }
}



.headerText {
   color: black;
    font-size: 25px;
    font-family: 'Carrois Gothic-light', sans-serif;
    font-weight: 600;
    
}

@media (min-width: 576px){
    .headerText {
        font-size: 30px;
    }
}

@media (min-width: 768px) { 
    .headerText {
    font-size: 30px;
    }
}

@media (min-width: 992px) { 
    .headerText {
    font-size: 70px;
    }
}


@media (min-width: 1200px) {
    .headerText { 
        font-size: 70px;
    }
}




.homepageImages {
    max-height: 300px;
}


.carousel-item {
  height: 40vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 576px){
    .carousel-item {
         height: 40vh;
    }
}

@media (min-width: 768px) { 
   .carousel-item {
         height: 50vh;
    }
}

@media (min-width: 992px) { 
    .carousel-item {
         height: 50vh;
    }
}


@media (min-width: 1200px) {
   .carousel-item {
         height: 55vh;
    }
}

.navbar {
    float: right;
}

.lead {
    font-family: 'Carrois Gothic-light', sans-serif;
    font-size: 35px !important;
    text-align: center;
}
@media (min-width: 576px){
    .lead {
         font-size: 40px !important;
    }
}

@media (min-width: 768px) { 
    .lead {
         font-size: 60px !important;
    }
}

@media (min-width: 992px) { 
     .lead {
         font-size: 60px !important;
    }
}


@media (min-width: 1200px) {
    .lead {
         font-size: 60px !important;
    }
}



.py-5 {
    background-color: #ffffff;
}



   
.specialHeader {
    color: black;
    text-align: left;
    font-family: 'Carrois Gothic-light', sans-serif;
    font-size: 40px;
}

@media (min-width: 576px){
    .specialHeader {
         font-size: 40px;
    }
}

@media (min-width: 768px) { 
     .specialHeader {
         font-size: 50px;
    }
}

@media (min-width: 992px) { 
      .specialHeader{
         font-size: 60px;
    }
}


@media (min-width: 1200px) {
     .specialHeader {
         font-size: 60px;
    }
}


.contactFormSection {
    background-color: #FFF4F9   !important;
    font-family: 'futura-pt', sans-serif;
    color: black;
}


 
.animated-words {
    
    font-size: 40px;
    font-family: 'Nothing You Could Do', cursive;
}

@media (min-width: 576px){
    .animated-words {
         font-size: 50px;
    }
}

@media (min-width: 768px) { 
     .animated-words {
         font-size: 60px;
    }
}

@media (min-width: 992px) { 
      .animated-words {
         font-size: 70px;
    }
}


@media (min-width: 1200px) {
     .animated-words {
         font-size: 80px;
    }
}

.animated-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
    color: #39ff14;
}
.animated-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
    color: #39ff14;
}
.animated-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
    color: #39ff14;
}
.animated-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    -ms-animation-delay: 12s; 
    animation-delay: 12s; 
    color: #39ff14;
}
.animated-words span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
    color: #39ff14;
}


.animated-words span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #39ff14;
    -webkit-animation: animateWord 18s linear infinite 0s;
    -ms-animation: animateWord 18s linear infinite 0s;
    animation: animateWord 18s linear infinite 0s;
}

@-webkit-keyframes animateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

body {
	padding-top:5vh;
}

.instaimg img {margin-bottom:30px;}
.instaimg img:hover {
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
    display: inline-block;
}

.followMeText {
    color: black;
    font-family: 'futura-pt', sans-serif;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
     font-size: 50px;
}



