 html {
        scroll-behavior: smooth;
    }

.lightPink, .navbar {
    background-color: white !important;
}


.font-weight-light {
    font-size: 40px;
    font-family: 'Lora', serif;
     font-weight: 300;
     font-style: normal;
    color: black;
    
}

.headerText {
    text-align: center;
    color: #fb486e;
    font-size: 50px;
    font-family: 'futura-pt', sans-serif;
    font-weight: 500;


}

.homepageImages {
    max-height: 500px;
}


.carousel-item {
  height: 45vh !important;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.lead {
    font-family: 'futura-pt', sans-serif;
    font-size: 45px !important;
}
.py-5 {
    background-color: #ffffff;
}



   
.contactHeader {
    color: white;
    text-align: left;
    font-family: 'Lora', serif;
}

#contactFormSection {
    background-color: #fb486e !important;
    font-family: 'futura-pt', sans-serif;
    color: white;
}



.secondSectionColor {
    background-color: white !important;
}


 
.animated-words {
    display: center;
    
}

.animated-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
    color: #fb486e;
}
.animated-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
    color: #fb486e;
}
.animated-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
    color: #fb486e;
}
.animated-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    -ms-animation-delay: 12s; 
    animation-delay: 12s; 
    color: #fb486e;
}
.animated-words span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
    color: #fb486e;
}


.animated-words span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #fb486e;
    -webkit-animation: animateWord 18s linear infinite 0s;
    -ms-animation: animateWord 18s linear infinite 0s;
    animation: animateWord 18s linear infinite 0s;
}

@-webkit-keyframes animateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}