.font-weight-light {
    color: black;
    font-size: 75px;
}

.lead {
    font-weight: bold;
}


.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('images/slide1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
    
   